<div class="container container-fluid">
  <div class="row center">
    <h1>Downloads</h1>
  </div>
  <% if(dl.total != 1) { %>
  <ul class="pagination center">
    <li class="<% if(dl.cur == 0) { %>disabled<% } %>"><a href="/downloads/<%= dl.cur %>"><i class="material-icons">chevron_left</i></a></li>
    <% for(var i = Math.max(0, dl.cur - 3); i < dl.cur; i++) { %>
      <li><a href="/downloads/<%= i + 1 %>"><%= i + 1 %></a></li>
    <% } %>
    <li class="active"><a><%= dl.cur + 1 %></a></li>
    <% for(var i = dl.cur + 1; i <= Math.min(dl.total - 1, dl.cur + 3); i++) { %>
      <li><a href="/downloads/<%= i + 1 %>"><%= i + 1 %></a></li>
    <% } %>
    <li class="<% if(dl.cur == dl.total - 1) { %>disabled<% } %>"><a href="/downloads/<%= dl.cur + 2 %>"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <% } %>
  <div class="row">
    <div class="col m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= dl.img[0].thumbnail %>">
          <span class="card-title"><%= dl.img[0].title %></span>
        </div>
        <div class="card-action">
          <a href="<%= dl.img[0].mobile %>" download>Mobile</a>
          <a href="<%= dl.img[0].desktop %>" download>Desktop</a>
        </div>
      </div>
    </div>

    <% if(dl.img.length > 1) { %>
    <div class="col m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= dl.img[1].thumbnail %>">
          <span class="card-title"><%= dl.img[1].title %></span>
        </div>
        <div class="card-action">
          <a href="<%= dl.img[1].mobile %>" download>Mobile</a>
          <a href="<%= dl.img[1].desktop %>" download>Desktop</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="row">
      <% if(dl.img.length > 2) { %>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="<%= dl.img[2].thumbnail %>">
              <span class="card-title"><%= dl.img[2].title %></span>
            </div>
            <div class="card-action">
              <a href="<%= dl.img[2].mobile %>" download>Mobile</a>
              <a href="<%= dl.img[2].desktop %>" download>Desktop</a>
            </div>
          </div>
        </div>
        <% } %>

    <% if(dl.img.length > 3) { %>
    <div class="col m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= dl.img[3].thumbnail %>">
          <span class="card-title"><%= dl.img[3].title %></span>
        </div>
        <div class="card-action">
          <a href="<%= dl.img[3].mobile %>" download>Mobile</a>
          <a href="<%= dl.img[3].desktop %>" download>Desktop</a>
        </div>
      </div>
    </div>
    <% } %>
</div>
