<style>
    html, body {
        height: 100%;
    }
    @media only screen and (min-width: 993px) {
      .full-height {
          height: calc(100% - 64px);
          margin: 0;
      }
    }
    @media only screen and (max-width: 992px) {
      .full-height {
          height: calc(100% - 56px);
          margin: 0;
      }
    }

    .empty {
        padding: 0;
    }

    .image123{
        clear: both;
        /*margin-top: 10em;*/
    }

    .title-box {
        margin-top: 3vh;
        clear:both;
    }

    .title-text {
        color: white;
        margin-top: 0;
        font-weight: 700;
    }

    .subtitle-text {
        font-size: 2.3vmax;
        color:white;
    }

    .small-glyph {
        margin-left: 5em;
    }


    #arrow {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 1.5s infinite;
      animation: sdb 1.5s infinite;
      box-sizing: border-box;
    }
    @-webkit-keyframes sdb {
      0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }

    .subtitle {
      padding-top: 3%;
    }

    .home-carousel a {
        display: flex !important;
        align-items: center;
    }

    .home-carousel.carousel .carousel-item > img {
        transform: scale(1.5, 1.5);
    }
</style>
<div class="parallax-container full-height" style="padding: 70px 0;">
    <div class="parallax"><img class="responsive-img" src="images/front-page/toronto.jpg"></div>
    <div class="container center landing" style="font-size:0.8em;">
        <div class="image123">
            <img src="images/front-page/waterloo-shield.svg" height="50"/>
            <img class="small-glyph" src="images/front-page/waterloop-logo.svg" height="50"/>
            <img class="small-glyph" src="images/front-page/leaf.svg" height="50"/>
        </div>
        <div class="title-box">
            <h1 class="title-text">Canada's Hyperloop</h1>
            <p class="subtitle-text">
                Having withstood the test of time, team Waterloop is back with
                <br> a whole new roster, preparing to take on the SpaceX
                <br> Hyperloop challenge in Summer 2018.
            </p>
        </div>
        <div>
            <h5 style="color: white;"> Sign up for our monthly newsletter </h5>
            <div class="row" style="margin-bottom:0;">
                <div class="col s3"></div>
                <div class="file-field input-field col s6">
                    <div class="row" style="margin-bottom:0;">
                      <form id="ss-form-2" action="https://docs.google.com/forms/d/e/1FAIpQLSfOrK6Z1-sRNga3VxqrvturDPaxbCx7P2PX8MJy7FBWVIkXpg/formResponse" target="hiddenFrame" method="POST">
                        <div class="col s11">
                            <input placeholder="Your Email" id="email" type="email" class="validate" style="color:#FFF; font-size: 1.5em;" name="entry.1894636506">
                        </div>

                        <span style="display:inline-flex;vertical-align:middle;"><button id="email-submit"><i class="material-icons center">send</i></button></span>
                      </form>
                      <iframe id="hiddenFrame" name="hiddenFrame" style="display: none;"></iframe>
                    </div>
                    <div class="row" style="margin-bottom:0;">
                        <p style="font-size:14px;margin-top:1px;color:#808080;">We don't spam, that's a promise.</p>
                    </div>
                </div>
                <div class="col s3"></div>
            </div>
            <div class="row" style="margin-bottom:0px;" id="social">
                <div class="col s8 m4 l4 offset-s2 offset-m4 offset-l4 noseldrag">
                    <a href="https://www.facebook.com/teamwaterloop" target="_blank"><img src="/images/logos/facebook-new.svg" alt="team waterloop facebook"></a>
                    <a href="https://twitter.com/team_waterloop" target="_blank"><img src="/images/logos/twitter-new.svg" alt="team waterloop twitter"></a>
                    <a href="https://www.instagram.com/team_waterloop" target="_blank"><img src="/images/logos/instagram-new.svg" alt="team waterloop insta"></a>
                </div>
            </div>
            <a href="#pod-container" style="position: absolute;bottom:80px;left: 50%;z-index: 2;display: inline-block;-webkit-transform: translate(0, -50%);transform: translate(0, -50%);text-decoration: none;"><span id="arrow"></span></a>
        </div>
    </div>
</div>
<div class="section white empty hide-on-med-and-down" style="height:50%;">
    <div id="pod-container" style="position: relative; height: 40%; top:20%; overflow-x: hidden; background-color: lightblue">
        <img id='pod' class="noseldrag" src="/images/pod.png" style="position: absolute;max-width:70%;width:auto;height:auto; bottom:0px"/>
    </div>
</div>

<div class="section">
    <div class="row center">
        <div id="sponsors">
            <h2 class="subtitle">Our Sponsors</h2>
            <p class="text" style="font-size:2vmax;">Since the first competition we have relied on our sponsors <br>to support us through our journey to first place.
            </p>
            <div id="gallery" class="carousel center home-carousel">
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/Balluff.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/altium.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/BOKO_DESIGN.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/Communitech.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/EAGLECAD.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/ITS.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/Miltera.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/UW_ENGINEERING_ENDOWMENT.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/UW_ENGINEERING_SOCIETY.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/hypersonic/UW_Engineering.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/supersonic/PAYPAL.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/supersonic/idream.png"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/supersonic/LEGETT_PLATT.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/supersonic/LEAGUE_HEALTH.svg"></a>
                <a class="carousel-item" href="#!"><img src="/images/sponsors/supersonic/Routes_Transport_Group.png"></a>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container full-height empty hide-on-med-and-down">
    <div class="center">
    <h2 class="subtitle">Our Progress</h2>
    <p class="text" style="font-size:2vmax;">Since the first competition we have learnt more than we we could ever imagine!</p></div>
    <div class="parallax"><img class="responsive-img" src="images/front-page/TeamBG-01.jpg"></div>
    <div>
      <div id="lineChart"><%- include('linechart'); %></div>
    </div>
</div>
<div class="section white">
    <div class="container row">
      <h2 class="subtitle center">Our Blogs</h2>
      <p class="text center" style="font-size:2vmax;">Behind the scene stories from our journey so far
      </p>
        <% if(blog) { %>
        <% for(var i = 0; i < 3 && i < blog.length; i++) { %>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img class="noseldrag responsive-img" src="<%= blog[i].img %>">
                    <span class="card-title"><%= blog[i].title %></span>
                </div>
                <div class="card-content">
                    <p><%= blog[i].subtitle %></p>
                </div>
                <div class="card-action">
                    <a href="<%= blog[i].url %>" target="_blank">Keep reading</a>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
        <a  class="right" href="https://medium.com/waterloop" target="_blank"><span style="font-size:1.5vmax;margin:0;font-family: 'proxima_nova_ltsemibold';">Read More Blogs </span><i class="material-icons" style="margin-bottom: 10px !important;">arrow_forward</i></a>
    </div>
</div>

<script src="/javascripts/homeTimeLine.js"></script>
<script>
    $(function(){
      $('.parallax').parallax();
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });

    $(function(){
          $('.carousel').carousel({padding: 400, indicators: false});
        });

    setInterval(function(){
      $('.carousel').carousel('next');
    }, 2000);


</script>
