<!DOCTYPE html>
<html>
  <head>
    <%- include('includes'); %>
    <title><%= title %></title>
  </head>
  <body>

    <%- include('header', {active: pageName}); %>

    <%- include( pageName ); %>


    <%- include('footer'); %>

  </body>
</html>
