<div class="row top-100-padding">
  <div class="row">
    <div class="center-align sponsor-structure-heading fancy">
      <span>
        <%= name %>
      </span>
    </div>
  </div>
</div>

  <% if (members.length%itemsNum !== 0) { %>
    <div class="row flex-align <%= name %>">
      <% for(var i=0; i<members.length%itemsNum; i++) {%>
        <img class="sponsor-logo1" src="<%= members[i] %>" alt="<%= name %> sponsor">
      <% } %>
    </div>
  <% } %>

  <% for(var i=members.length%itemsNum; i<members.length; i=itemsNum+i) {%>
    <div class="row flex-align <%= name %>">
      <% for(var j=0; j<itemsNum; j++) {%>
        <img class="sponsor-logo1" src="<%= members[i+j] %>" alt="<%= name %> sponsor">
      <% } %>
    </div>
  <% } %>

</div>
